<div class="mt-4">
    <form method="POST"> 
        <div class = "form-group">
            <label for="SearchInput">Name</label>
            <input type="text" class="form-control" name = "q" id="SearchInput" placeholder="Name of the book">  
        </div>
        <button type = "submit" class = "btn btn-primary">Search</button>
    </form>
</div>