
<div class="mt-4">
    <div class="row">
        <div class="col-lg-3">
            <button>LEARNING RIGHT NOW !!!</button>
            <p>TEST TEST TEST !!!</p>
        </div>

        <div class="col-lg-9">
            <h2> {{course.name}}</h2>
            <iframe width="600" height="330" src="https://www.youtube.com/embed/vIRB_ld2HqM" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            <p>Mô tả: {{course.description}}</p>
        </div>
    </div>
</div>